{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        {% if editMode %}
            <h3>Modifier un quiz !</h3>
        {% else %}
            <h3>Création d'un quiz !</h3>
        {% endif %}

        {{ form_start(formQuiz) }}

        {{ form_row(formQuiz.title, {'attr': {'placeholder': 'Titre du Quiz'}}) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter le quiz
            {% endif %}
        </button>

        {{ form_end(formQuiz) }}

    {% else %}
        <h3>Page invalide !</h3>
    {% endif %}

{% endblock %}