{% extends 'base.html.twig' %}

{% block title %}Quiz CD5{% endblock %}

{% block body %}

    <div class="row align-items-center">
        <img src="https://pbs.twimg.com/profile_images/1027609854733631488/5V8n97zD_400x400.jpg"
             class="img-responsive rounded-circle" style="height: 60px; margin-right: 10px">
        <h2 class="align-middle">Bienvenue sur le site des Quiz du CD5</h2>
    </div>
    <p>Sur ce site, vous pouvez tester vos connaissances footballistiques</p>
    <p>Pour commencer les quiz, connectez-vous !</p>

{% endblock %}
