{% extends 'base.html.twig' %}

{% block title %}Quiz CD5{% endblock %}

{% block body %}

    <h2 class="align-middle">Bienvenue sur le site des Quiz du CD5</h2>
    <p>Sur ce site, vous pouvez tester vos connaissances footballistiques</p>

    {% if not app.user %}
        <p>Pour commencer les quiz, connectez-vous !</p>
    {% endif %}

{% endblock %}
